{% extends 'base.html.twig' %}

{% block title %}New Category
{% endblock %}

{% block stylesheets %}
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
	<link rel="stylesheet" href="{{ asset('styles/new.css') }}">
	<link rel="stylesheet" href="{{ asset('styles/animations.css') }}">
{% endblock %}

{% block body %}
	<div class="dashboard fade-in">
		<div class="content-wrapper slide-in">
			<header class="dashboard-header">
				<h1>
					<i class="fas fa-folder-plus"></i>
					Create New Category</h1>
				<div class="header-actions">
					<a href="{{ path('app_category') }}" class="btn btn-primary">
						<i class="fas fa-arrow-left"></i>
						Back to list
					</a>
				</div>
			</header>

			<div class="card">
				<div class="form-wrapper">
					{{ include('category/_form.html.twig') }}

					<div class="form-actions">
						<button type="submit" class="btn btn-success">
							<i class="fas fa-save"></i>
							Create Recipe
						</button>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
