{% extends 'base.html.twig' %}

{% block title %}New Recipe{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link rel="stylesheet" href="{{ asset('styles/new.css') }}">
    <link rel="stylesheet" href="{{ asset('styles/animations.css') }}">
{% endblock %}

{% block body %}
    <div class="dashboard fade-in">
        <div class="content-wrapper slide-in">
            <header class="dashboard-header">
                <h1><i class="fas fa-plus-circle"></i> Create New Recipe</h1>
                <div class="header-actions">
                    <a href="{{ path('app_recipe') }}" class="btn btn-primary">
                        <i class="fas fa-arrow-left"></i> Back to list
                    </a>
                </div>
            </header>

            <div class="card">
                <div class="form-wrapper">
                    {{ include('recipe/_form.html.twig') }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
